.border-green {
    border-color: #74A739 !important;
  }

.text-green {
    color: #74A739 !important;
}

.back {
    background-color: #D9D9D9 !important;
}

.content {
    background-color: white !important;
}