.border-green {
    border-color: #74A739 !important;
  }

.text-green {
    color: #74A739 !important;
}

.back {
    background-color: #D9D9D9 !important;
}

.text-white {
    color: #D9D9D9 !important;
}
.back-color {
    color: white;
    background-color:#74A739 !important ;
}

.content {
    background-color: white !important;
}

.contain {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-menu{
    color: #D9D9D9 !important;
    background-color: #808080 !important;
}

.content-top {
    border-top: #808080 !important;
}

.nav-menu {
display: block !important;
  padding: 0.5rem 1rem !important;
  color: #D9D9D9 !important;
  text-decoration: none !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out !important;
}

.nav-menu:hover, .nav-menu:focus {
  color: #74A739 !important;
  border-left: #74A739 !important;
  border-left: 3px solid !important;
}

.breadcrumb {
  display: flex !important;
  flex-wrap: wrap !important;
  padding: 0 0 !important;
  margin-bottom: 1rem !important;
  list-style: none !important;
  background-color: none !important;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem !important;
  color: #74A739 !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left !important;
  padding-right: 0.5rem !important;
  color: #74A739 !important;
  content: var(--bs-breadcrumb-divider, ">") /* rtl: var(--bs-breadcrumb-divider, "/") */ !important;
}

.breadcrumb-item.active {
  color: #74A739 !important;
}

a {
  color: inherit !important;
}

@media (prefers-reduced-motion: reduce) {
    .nav-menu {
      transition: none;
    }
  }

